SSBDS/build
SSBDS/build/*
SSBDS/SSBDS.nds
SSBDS/SSBDS.ds.gba
.DS_Store
*/.DS_Store
.todo
SSBDS/source/gfx/images/pagfx
SSBDS/source/gfx/images/pagfx/*
SSBDS/SSBDS_Files/LAN/build
SSBDS/SSBDS_Files/LAN/build/*
SSBDS/SSBDS_Files/LAN/LAN.nds
SSBDS_Files/LAN/LAN.ds.gba
