.DS_Store
*/.DS_Store

.todo
Resources

SSBDS/doc
SSBDS/build
SSBDS/build/*
SSBDS/SSBDS.nds
SSBDS/SSBDS.ds.gba
SSBDS/efsroot/SSBDS_Files/LAN.nds

LAN/doc
LAN/build
LAN/build/*
LAN/LAN.nds
LAN/LAN.ds.gba

PAGfx
PAGfx/*

*.class

no$gba-w
